
.Rproj.user/877F48C2/sources/prop/D224DA16
.Rproj.user/877F48C2/sources/prop/INDEX
.Rproj.user/877F48C2/sources/s-D3AEE35B/3E08CB88
.Rproj.user/877F48C2/sources/s-D3AEE35B/64141F75
.Rproj.user/877F48C2/sources/s-D3AEE35B/3E08CB88-contents
.Rproj.user/877F48C2/sources/s-D3AEE35B/64141F75-contents
.Rproj.user/877F48C2/sources/s-D3AEE35B/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
